<div>
<%= form_tag('search_ajax', remote: true, id: 'search_form') do %>
	<%= text_field_tag 'course' %>
	<%= text_field_tag 'teacher' %>
	<%= submit_tag 'search' %>
<% end %>
	<input type="text" class="item">
	<button type="button" class="btn">className</button>
	<input type="text" class="item">
	<button type="button" class="btn">teacherName</button>
	<table id="result1">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Credit</th>
			<th>Period</th>
			<th>Area</th>
			<th>Teachers</th>
			<th>Acadamy</th>
			<th>Special</th>
			<th>Term</th>
		</tr>
	</table>
</div>