body {
	background-color: #4A4E8F;
	font-family: "Microsoft YaHei",sans-serif;
}
div {
	margin: 0 auto;
	width: 960px;
	height: auto;
}
.result {
	border: 1px solid white;
	color: white;
	text-align: left;
	width: 960px;
	margin: 0 auto;
	margin-bottom: 64px;
}
.result tr th,.result tr td {
	padding-left: 8px;
	padding-right: 24px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.result tr:hover {
	background-color: white;
	color: #4A4E8F;
}
.result tr th {
	border-bottom:solid 1px white;
	font-family: "Helvetica";
	height: 32px;
}
.result tr td {
	font-family: "Microsoft YaHei","PMingLiu";
	height: 30px;
	max-width: 160px;
}
#search_area {
	padding-top: 20px;
	padding-bottom: 18px;
	color: white;
	width: 720px;
	margin: 0 auto;
}
#search_area label {
	padding-right: 4px;
	font-size: 14px;
}
.item {
	color: white;
	font-size: 18px;
	margin-right: 24px;
	width: 180px;
	font-family: "Microsoft YaHei","PMingLiu";
	height: 28px;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: solid 1px white;
	text-align: center;
}
.btn {
	font-size: 16px;
	height: 36px;
	padding-left: 32px;
	border: 1px solid white;
	padding-right: 32px;
}
.btn:hover {
	background-color: white;
	color: #4A4E8F;
	cursor: pointer;
}
.item, .btn {
	background-color: transparent;
	color: white;
	outline: none;
}
caption {
	padding-bottom: 9px;
	padding-top: 6px;
	font-size: 20px;
	border-left:solid 1px white;
	border-right:solid 1px white;
}
.divide {
	width: 100%;
	height: 1px;
	background-color: white;
}
.condition {
	width: 720px;
	margin: 0 auto;
	padding-bottom: 16px;
	color: white;
}
.condition label {
	font-size: 16px;
}
.box {
	padding-right: 20px;
	vertical-align: top;
	display: inline-block;
	width: 240px;
}

#start {
	background-color: #4A4090;
	border-color: white;
	border-width: 1 0 1 0;
}
.started {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 64px;
	color: white;
	font-size: 64px;
	letter-spacing: -.03em;
}
#start div {
	width: 100%;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 64px;
	text-align: center;
	font-family: "Helvetica",sans-serif;
}
.btnhello {
	text-align: center;
	padding: .5em 3.2em .4em 3.2em;
	font-size: 28px;
	text-decoration: none;
	background-color: transparent;
	color: white;
	border: 1px solid white;
}
.btnhello:hover {
	background-color: white;
	color: #4A4090;
}